@import url('https://fonts.googleapis.com/css2?family=Roboto:100,200,300,400,500,600,700|Oswald:100,200,300,400,500,600,700');

/*................................................ header*/

header {
    background-color: #0e0101;
    margin: 0;
    padding: 0;
}
header a{
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color: #fafafa;
}
a:hover{
    color: #ca1729;
}
.navbar-brand-name {
    text-transform: uppercase;
    font-size: 20px;
}
/*................................................ section*/
.jumbotron-header {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    color:#ffc107;
    margin-bottom: 40px;
}
hr {
  border: 0px;
  height: 5px;
  width: 75px;
  background-color: #dc3545; 
  margin-bottom: 50px;
}

.jumbotron-paragraph{
    font-family: Exo, sans-serif;
    font-size: 20px;
    color: #f8f9fa;
    font-weight: 600;
    padding-bottom: 65px;
    text-align: center
}

.jumbotron{
    background-color: transparent;
}
.opaque-overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.hero{
    height: 100vh;
    background: url(../image/hero-image.jpg) no-repeat;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
/*................................................ buttons*/

.appointment-btn1 {
    font-weight: bold;
    border-radius: 40px;
    width: fit-content;
}

.appointment-btn2 {
    color: white;
    background-color: #dc3545;
    border-color: #dc3545;
}
.appointment-btn2:hover,
.appointment-btn2:active,
.appointment-btn2:focus,
.appointment-btn2:active:focus {
    background-color:#ca1729;
    border-color: #ca1729;
    color: white;
}

  /*..  @media only screen and (max-width: 767px) {
  .hero{
    background: url(../image/hero-image-copy.jpg) no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
..*/


/*................................................ footer*/

.footer-heading {
    text-transform: uppercase;
    color: #fafafa;
    margin: 0;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    padding: 20px;
}
footer {
    background-color: #0e0101;
    color: #fafafa;
    min-height: 120px;
    margin: 0;
}
.inline-block{
    display: inline-block;
    padding: 0px 20px;
}
.social-media{
    padding-bottom: 20px;
}

.social-media li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 15px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-media li a i:hover {
    background: #ca1729;
}
.phone-number {
  text-decoration: underline;
  cursor: pointer;
  transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;  
}
.phone-number:hover {
    color: #ca1729;
}
.email {
 text-decoration: underline;
  cursor: pointer;
  transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;  
}   
.email:hover {
    color: #ca1729;
}

/*................................................ About-us-text*/
.about-text{
    font-family: Exo, sans-serif;
    font-size: 1rem;
    text-align: center;
   color:  #FFEB3B;
   padding-top: 0px;
   font-weight: 300;
   margin-bottom: 14rem;

}
.about-jumbotron{
    background: url(../image/Nice-audi.jpg) no-repeat;
    height: 100vh;
     -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
h1{
    font-family: Roboto, sans-serif;
    font-size:2rem;
    color: #F8271A;
    text-align: center;
    font-weight: 500; 
}
 /*#overlay {
   position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    cursor: pointer; 
}*/
#meet-the-team-section{
    background-color:#fafafa;
}
#meet-the-team-header{
    font-family: Roboto, sans-serif;
    font-size:1.5rem;
    color: #010e15;
    text-align: center;
    font-weight: 500;
    padding-bottom: 10px;
    text-transform: uppercase;   
}
.meet-the-team-hr{
  border: 0px;
  height: 5px;
  width: 75px;
  background-color: #1748e7; 
  margin-bottom: 50px;
}
.team-memeber-name{
    font-family: Exo, sans-serif;
    font-weight: 700;
    padding-top: 14px;
}
.team-memeber-title{
    font-family: Exo, sans-serif;
    font-weight: 300;
    font-style: italic;
    padding-bottom: 16px;
}

